:root {
    --mainBlue: #4c4c94;
    --lightBlue: #22bfff;
    --mainWhite: #f5f5f5;
    --mainDark: #45474a;
    --mainYellow: #ffc622;
}

.text-title {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}