/* :root {
    --mainBlue: #4c4c94;
    --lightBlue: #22bfff;
    --mainWhite: #f5f5f5;
    --mainDark: #45474a;
    --mainYellow: #ffc622;
} */

.homeBox {
    background-image: url("../../img/background.png");
    background-size: cover;
    background-attachment: fixed;
}